body
{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}


#title{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid
{
  /* 3% top and bottom and 15% left and right */
  padding: 3% 15% 7%;
}

h1
{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2
{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3
{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
}
p
{
  color: #8f8f8f;
}

/* Navigation Bar */

.navbar
{
  /* top left and right and bottom */
  padding: 0 0 4.5rem;
}

.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/*Download Buttons */

.download-button
{
  /* T R L B */
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image
{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 35%;
}

/* Features structure*/
#features
{
  padding: 7% 5%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.features-box
{
  text-align: center;
  padding: 5%;
}

.features-icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover
{
  color: #ff4c68;
}

/* Testimonials section */
#testimonials
{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-img
{
  width: 10%;
  border-radius:100%;
  margin: 20px;
}

.carousel-item
{
  padding: 7% 15%;
}

#press
{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */
#pricing
{
  padding: 100px;
  text-align: center;
}

.pricing-column
{
  padding: 3% 2%;
}

@media (max-width: 990px) {
  #title
  {
    text-align: center;
  }
  .title-image
  {
    position: static;
    transform: rotate(0deg);
    /* margin:0; */
  }
}

/* CTA section */

#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.cta-heading
{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer */
#footer
{
  text-align: center;
  padding: 7% 15%;
}

.icons
{
  margin: 20px 10px;
  /* padding: 0 0 20px 20px; */
}
